.boxGrid {
    background-color: white;
    width: auto;
    height: 500px;
    border: 1px solid green;
    padding: 10px;
    margin: 20px;
}
kendo-dropdownlist {
    width: 170px;
  }

  kendo-label {
    margin-right: 10px;
  }