<div class="example-wrap">
    <form class="k-form" [formGroup]="formValue" style="font-size: 1.3rem;">
        <fieldset class="k-form-fieldset">
            <legend class="k-form-legend text-center" style="font-size: 2rem;">Form thông tin</legend>
            <kendo-formfield>
                <kendo-label [for]="code" text="Mã NV"></kendo-label>
                <input formControlName="code" kendoTextBox #code required [(ngModel)]="userService.formData.code" />

                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="firstName" text="Họ"></kendo-label>
                <input formControlName="firstName" kendoTextBox #firstName required [(ngModel)]="userService.formData.firstName" />
                
                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="lastName" text="Tên"></kendo-label>
                <input formControlName="lastName" kendoTextBox #lastName required [(ngModel)]="userService.formData.lastName" />

                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="position" text="Chức vụ"></kendo-label>
                <input formControlName="position" kendoTextBox #position required [(ngModel)]="userService.formData.position"/>

                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
                <kendo-label [for]="title" text="Chức danh"></kendo-label>
                <input formControlName="title" kendoTextBox #title required [(ngModel)]="userService.formData.title"/>

                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
                <kendo-label [for]="department" text="Phòng ban"></kendo-label>
                <input formControlName="department" kendoTextBox #department required [(ngModel)]="userService.formData.name"/>

                <kendo-formerror>Trống</kendo-formerror>
            </kendo-formfield>

            <div class="k-form-buttons">
                <button kendoButton themeColor="primary" (click)="submitForm()">
                    Submit
                </button>
                <button kendoButton (click)="clearForm()">Xóa</button>
            </div>
        </fieldset>
    </form>
    <br><br>
</div>