<form class="k-form" [formGroup]="formValue" style="font-size: 1.3rem;">
    <div class="modal fade" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm NV</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <textarea class="form-control" id="message-text"></textarea>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Mã NV</label>
                                <input type="text" class="form-control"
                                    formControlName="code" #code
                                    [(ngModel)]="userService.formData.code">
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Chức vụ</label>
                                <input type="text" class="form-control" 
                                    formControlName="position" #position
                                    [(ngModel)]="userService.formData.position">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="message-text" class="col-form-label">Họ:</label>
                                <input type="text" class="form-control" 
                                    formControlName="firstName" #firstName
                                    [(ngModel)]="userService.formData.firstName">
                            </div>
                            <div class="col-sm-6">
                                <label for="message-text" class="col-form-label">Tên:</label>
                                <input type="text" class="form-control" 
                                    formControlName="lastName" #lastName
                                    [(ngModel)]="userService.formData.lastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Phòng ban:</span>
                                <kendo-combobox [data]="listDepartment">
                                </kendo-combobox>
                            </div>
                            <div class="col-sm-6">
                                <label for="recipient-name" class="col-form-label">Chức danh:</label>
                                <input type="text" class="form-control" 
                                    formControlName="title" #title
                                    [(ngModel)]="userService.formData.title">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>