<div class="container">
    <form>
        <input type="hidden" name="UserId" [value]="service.formData.userId" />
        <div class="form-group">
            <label>MÃ NV</label>
            <input class="form-control form-control-lg" type="text" name="userCode" placeholder="Mã NV"
                [(ngModel)]="service.formData.userCode" required>
        </div>

        <div class="form-group">
            <label>TÊN NV</label>
            <input class="form-control form-control-lg" type="text" name="userName" placeholder="Tên NV"
                [(ngModel)]="service.formData.userName" required>
        </div>

        <div class="form-group">
            <label>PHÒNG BAN</label>
            <input class="form-control form-control-lg" type="text" name="userDepartment" placeholder="Phòng ban"
                [(ngModel)]="service.formData.userDepartment" required>
        </div>

        <div class="form-group">
            <label>Vị trí</label>
            <input class="form-control form-control-lg" type="text" name="userPosition" placeholder="Vị trí"
                [(ngModel)]="service.formData.userPosition" required>
        </div>
        <br>
        <div class="form-group">
            <button (click)="addUser()" class="btn btn-info btn-lg btn-clock" type="submit" style="width: 100%;">
                Submit
            </button>
        </div>
    </form>
</div>