<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular"
        title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <rect width="400" height="400" fill="none" />
            <path
                d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
                fill="#fff" />
        </svg>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
        title="YouTube">
        <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" fill="#fff">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
                d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
        </svg>
    </a>
</div>

<!-- Toolbar -->
<!-- Modal -->


<ng-template #add let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Thêm NV</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="clearForm()"></button>
    </div>
    <form [formGroup]="formValue" style="font-size: 1.3rem">
        <fieldset class="k-form-fieldset">
            <div class="modal-body">
                <div class="form-group required">
                    <div class="row">
                        <div class="image-container">
                            <img [src]="getImage(userService.formData.image)" class="poi" formControlImage="image"
                                #image aria-required="true">
                            <span class="message">Nhấp upload file để cập nhật avatar</span>
                        </div>

                        <div style="margin-left: 500px; margin-top: 0.1px;">
                            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                        </div>
                        <span class="message">Nhấp để cập nhật avatar</span>
                        <br>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Mã NV</label>
                                <input type="text" class="form-control" formControlName="code" #code
                                    [(ngModel)]="userService.formData.code" required />
                                <kendo-formerror>Mã NV không được để trống</kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label  control-label">Chức
                                    vụ</label>
                                <kendo-combobox [data]="listPosition" formControlName="position" #position
                                    [(ngModel)]="userService.formData.position" required></kendo-combobox>
                                <kendo-formerror>Chức vụ không được để trống</kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="message-text" class="col-form-label control-label">Họ:</label>
                                <input type="text" class="form-control" formControlName="firstName" #firstName
                                    [(ngModel)]="userService.formData.firstName" required />
                                <kendo-formerror>
                                    Họ không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Chức
                                    danh:</label>
                                <kendo-combobox [data]="listTitle" formControlName="title" #title
                                    [(ngModel)]="userService.formData.title" required></kendo-combobox>
                                <kendo-formerror>
                                    Chức danh không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Tên:</label>
                                <input type="text" class="form-control" formControlName="lastName" #lastName
                                    [(ngModel)]="userService.formData.lastName" required />
                                <kendo-formerror>
                                    Tên không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label class="col-form-label control-label">Phòng ban:</label>
                                <kendo-dropdowntree kendoDropDownTreeExpandable
                                    [kendoDropDownTreeHierarchyBinding]="listRecursion" [textField]="['Name', 'Name']"
                                    [valueField]="['Id', 'Id']" childrenField="Children" formControlName="departmentId"
                                    #name (valueChange)="valueChange($event)" required>
                                </kendo-dropdowntree>
                                <kendo-formerror>
                                    Phòng ban không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer k-form-buttons">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')" (click)="clearForm()">
                    Đóng
                </button>
                <button id="closeModalButton" aria-label="Close" type="button" class="btn btn-primary" (click)="addUser()">
                    Lưu
                </button>
            </div>
        </fieldset>
    </form>

</ng-template>



<!-- Modal Update -->
<ng-template #update let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Cập nhật NV</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="clearForm()"></button>
    </div>
    <form [formGroup]="formValue" style="font-size: 1.3rem">
        <fieldset class="k-form-fieldset">
            <div class="modal-body">
                <div class="form-group required">
                    <div class="row">
                        <!-- <div class="image-container">
                                    <img [src]="url ? url : imageURL" class="poi"
                                        formControlImage="image" #image>
                                    <br />
                                    <input type='file' (change)="onSelectFile($event)" class="select-profile-picture">
                                    <span class="message">Nhấp để cập nhật avatar</span>
                                </div> -->
                        <div class="image-container">
                            <img [src]="getImage(userService.formData.image)" class="poi" formControlImage="image"
                                #image aria-required="true">
                            <span class="message">Nhấp upload file để cập nhật avatar</span>
                        </div>

                        <div style="margin-left: 500px; margin-top: 0.1px;">
                            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                        </div>
                        <span class="message">Nhấp để cập nhật avatar</span>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Mã NV</label>
                                <input type="text" class="form-control" formControlName="code" #code
                                    [(ngModel)]="userService.formData.code" required disabled/>
                                <kendo-formerror>Mã NV không được để trống</kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label  control-label">Chức
                                    vụ</label>
                                <kendo-combobox [data]="listPosition" formControlName="position" #position
                                    [(ngModel)]="userService.formData.position" required></kendo-combobox>
                                <kendo-formerror>Chức vụ không được để trống</kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="message-text" class="col-form-label control-label">Họ:</label>
                                <input type="text" class="form-control" formControlName="firstName" #firstName
                                    [(ngModel)]="userService.formData.firstName" required />
                                <kendo-formerror>
                                    Họ không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Chức
                                    danh:</label>
                                <kendo-combobox [data]="listTitle" formControlName="title" #title
                                    [(ngModel)]="userService.formData.title" required></kendo-combobox>
                                <kendo-formerror>
                                    Chức danh không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <kendo-formfield>
                                <label for="recipient-name" class="col-form-label control-label">Tên:</label>
                                <input type="text" class="form-control" formControlName="lastName" #lastName
                                    [(ngModel)]="userService.formData.lastName" required />
                                <kendo-formerror>
                                    Tên không được để trống
                                </kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-form-label control-label">Phòng ban:</label>
                            <!-- <kendo-combobox [data]="listChildDepartment" #name formControlName="departmentId"
                                    textField="name" valueField="id" [(ngModel)]="getDepartmentId" required>
                                </kendo-combobox>
                                <kendo-formerror>
                                    Phòng ban không được để trống
                                </kendo-formerror> -->
                            <kendo-dropdowntree kendoDropDownTreeExpandable
                                [kendoDropDownTreeHierarchyBinding]="listRecursion" [textField]="['Name', 'Name']"
                                [valueField]="['Id', 'Id']" childrenField="Children" formControlName="departmentId"
                                #departmentId (valueChange)="valueChange($event)" [value]="value"
                                [valueDepth]="valueDepth">
                            </kendo-dropdowntree>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer k-form-buttons">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')" (click)="clearForm()">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" (click)="updateUser()">
                    Lưu
                </button>
            </div>
        </fieldset>
    </form>
</ng-template>
<!-- Modal Update -->


<!-- Body -->
<div class="row boxGrid">
    <div class="col-sm-2" style="padding-top: 13px;height: auto;padding-left: 10px;">
        <div class="container-fluid" id="treeview">
            <br>
            <kendo-treeview kendoTreeViewExpandable [filterable]="true" size="" kendoTreeViewHierarchyBinding
                [nodes]="listRecursion" [textField]="['Name', 'Name']" childrenField="Children" selectBy="text"
                (selectionChange)="onSelectionChange($event)" (filterChange)="onFilterDepartment($event)">
            </kendo-treeview>
        </div>
    </div>
    <div class="col-sm-10" style="height: fit-content;">


        <kendo-grid [data]="gridData" [pageable]="true" [pageSize]="state.take" [sortable]="true" [filterable]="true"
            [height]="690" (remove)="removeUser($event)" [filter]="state.filter" (edit)="editUser($event)"
            (dataStateChange)="dataStateChange($event)" style="width: 100%; height: 100%;margin-top: 40px;">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand [primary]="true" class="btn" (click)="clearForm()"><i
                        class="fa fa-refresh">Làm mới</i></button>
                <button kendoGridAddCommand [primary]="true" class="btn" (click)="openModal(add)"><i
                        class="fa fa-plus">Thêm NV</i></button>
            </ng-template>
            <kendo-grid-column field="code" [width]="70" title="Mã NV"></kendo-grid-column>
            <kendo-grid-column field="firstName" [width]="120" title="Họ"></kendo-grid-column>
            <kendo-grid-column field="lastName" [width]="100" title="Tên"></kendo-grid-column>
            <kendo-grid-column field="name" [width]="150" title="Phòng ban"></kendo-grid-column>
            <kendo-grid-column field="position" [width]="100" title="Chức vụ"></kendo-grid-column>
            <kendo-grid-column field="title" [width]="100" title="Chức danh"></kendo-grid-column>
            <kendo-grid-command-column title="Chức năng" [width]="60">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                    <button kendoGridEditCommand [primary]="true" (click)="openModal(update)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                    <button kendoGridRemoveCommand><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg></button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </div>
</div>
<!-- Body -->